<%# <h1>Basics#index</h1>
<p>Find me in app/views/basics/index.html.erb</p> %>
<%# <%= link_to "Home", home_index_path%>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Basics: Web 7</title>

    <!-- style -->
    <style type='text/css'>
      .centerDiv
      {
        width:60%;
        height: 300px;
        margin: 0 auto;
      }
    </style>
  </head>
  <!--Nav-->



  <!-- Header -->
  <body>
    <div class='container-fluid h-100'>
      <div class='centerDiv'>
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class='col-lg-10 align-self-end'>
          <h1 class='display-1'>Basic</h1>
          </div>
        </div>
      </div>
    <!-- </div> -->
    </div>

<!-- Footer -->
<footer>
  <div class='container'>
    <div class='small text-center text-muted'>Created by Panuvit Chantara & Smrity Baral</div>
    <div class="row h-100 align-items-center justify-content-center text-center"><%= link_to "Home", home_index_path %></div>
  </div>
  <br>
  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>PS</th>
        <th scope='col'>Name</th>
        <th scope='col'><div class='text-center'>Problem Solutions</div></th>
        <th scope='col'>Links</th>
        <th scope='col'>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope='row'>1</td>
        <td scope='row'>Division Exception</td>
        <td scope='row'>
          We create a controller for divisor that can do 
          division as well we throws exceptions whenever 
          any Zero division error occurs. If any Zero division 
          error occurs, then it shows message about the error 
          to the user and the error is saved inside the log file name 'error.log' 
          else it will show the result to the user. We have used Here we have 
          used a separate log file to track the error and how it is handled.
        </td>
        <td scope='row'><%= link_to "Divisor" ,divisor_new_path %></td>
        <td scope='row'><span class="badge badge-success">Success</span></td>
      </tr>
      <tr>
        <td scope='row'>1</td>
        <td scope='row'>Articles</td>
        <td scope='row'>-</td>
        <td scope='row'><%= link_to "Article" ,scrape_index_path %></td>
        <td scope='row'><span class="badge badge-success">Success</span></td>
      </tr>
      <tr>
        <td scope='row'>2</td>
        <td scope='row'>-</td>
        <td scope='row'>-</td>
        <td scope='row'></td>
        <td scope='row'><span class="badge badge-warning">Pending</span></td>
      </tr>
      <tr>
        <td scope='row'>3</td>
        <td scope='row'>-</td>
        <td scope='row'>-</td>
        <td scope='row'></td>
        <td scope='row'><span class="badge badge-warning">Pending</span></td>
      </tr>
    </tbody>
  </table>


  

</footer>
    <%# <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>%>

  </body>
</html>