<h1 class='display-1 text-center'>Web 7</h1>
<footer>
    <div class='small text-center text-muted'>Created by Panuvit Chantara & Smrity Baral</div>
    <div class="row h-100 align-items-center justify-content-center text-center"><%= link_to "Basics", basics_index_path %></div>
</footer>