<<<<<<< HEAD
<h1 class='display-1 text-center'>Web 7</h1>
<footer>
    <div class='small text-center text-muted'>Created by Panuvit Chantara & Smrity Baral</div>
    <div class="row h-100 align-items-center justify-content-center text-center"><%= link_to "Basics", basics_index_path %></div>
</footer>
=======
<!-- <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Web 7: Application</title>
  </head>
  <!--Nav-->
  
  <%# <%= link_to "Basics", basics_index_path %>

  <!-- Header -->
  <body>
    <div class='container-fluid h-100'>
      <div class='centerDiv'>
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class='col-lg-10 align-self-end'>
          <h1 class='display-1'>Web 7</h1>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer>
    <div class='small text-center text-muted'>Created by Panuvit Chantara & Smrity Baral</div>
    <div class="row h-100 align-items-center justify-content-center text-center"><%= link_to "Basics", basics_index_path %></div></footer>
</html>
>>>>>>> f43ca1b3958567ad1b0fec7d0e3e88641938fc91
