<nav class="navbar">
  <span class="navbar-brand mb-0 h1">Quatations</span>
  <span><%= link_to 'Back', quotations_path %></span>
</span>
</nav>
<h1>Editing Quotation</h1>
<%= render 'form', quotation: @quotation %>
