<<<<<<< HEAD
<nav class="navbar">
  <span class="navbar-brand mb-0 h1">Quatations</span>
</span>
=======
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Quotations</span>
>>>>>>> f43ca1b3958567ad1b0fec7d0e3e88641938fc91
<a class="nav-link" href="#"><%= link_to "Back", quotations_path %></a>
</nav>

<div class="container">
<<<<<<< HEAD
  <h1>New Quotation</h1>
  <%= render 'form', quotation: @quotation %>
  <%= link_to 'Back', quotations_path, class:"btn btn-warning" %>
=======
    <h1>New Quotation</h1>

    <%= render 'form', quotation: @quotation %>

>>>>>>> f43ca1b3958567ad1b0fec7d0e3e88641938fc91
</div>