<nav class="navbar">
  <span class="navbar-brand mb-0 h1">Quatations</span>
</span>
<a class="nav-link" href="#"><%= link_to "Back", quotations_path %></a>
</nav>

<div class="container">
  <h1>New Quotation</h1>
  <%= render 'form', quotation: @quotation %>
  <%= link_to 'Back', quotations_path, class:"btn btn-warning" %>
</div>