<% provide(:title,'Problem-3')%>
<%= render 'layouts/header'%>
<div class="container mt-3">
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 1 </span> What will people be able learn about in the community that you’re building? Alternatively, if you are automating some collaborative workflow, what work will people accomplish with your system?</h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                a) We want to build a system for teachers where teachers can share and access teaching resources .
                <br>
                b) It can be used for teachers to solve problem together along with learning new things.</p>
        </div>
    </div>

    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 2 </span> What do you want people to say about your service after a visit?</h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                a) It is a simple user friendly platform we have created keeping in mind
                that not everyone is good at using complex sites<br>
                b) It provides bundle of facilities from searching based on categories
                ,name of teachers,subjects and many more </p>
        </div>
    </div>

    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 3 </span> What are the relevant distinct user classes? </h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                There will be three Users <br>
                a) General Users: Who are suppose to be the teachers who can have access to view every resource and share their resources too, if interested.
                 General Users can be registered users and Guest Users. Registered users will get access to view the details of the resources while guest can only see the outer contents<br>
                b) Admin : Who will take care of every aspect of the system from user management to system management
            </p>
        </div>
    </div>


    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 4 </span> What should a user on a smartphone be able to do? </h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                We expect smartphone users will be able to enjoy all the facilities of the system as Desktop users
            </p>
        </div>
    </div>


    <div class="card mt-2 mb-2">
        <div class="card-body mt-2 mb-2">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 5 </span> Build two or three profiles for users of your application. </h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                a) a picture of the user<br>
                b) the user’s name, age, occupation, marital status, housing situation, and income<br>
                c) the user’s short-term and long-term goals relevant to the online community that you’re building<br>
                d) the immediate questions that this user will bring to the site<br>
                e) the kind of computer equipment and connection in this person’s house<br>
                f) any other information that will help to humanize this fictitious person<br>
            </p>

        </div>
    </div>
    <div class="alert alert-info text-center mt-3 mb-3 list-profile">
        <h4 class="lead">User Profile</h4>
    </div>
    <div class="row mb-0">
        <div class="col-md-6">
            <div class="jumbotron jumbotron-fluid user-profile-display">
                <div class="profile-image text-center">
                    <img src="https://picsum.photos/200" class="rounded-circle profile" alt="...">
                </div>
                <div class="text-center mt-2 mb-2 ml-3 mr-3">
                    <h5 class="alert alert-danger">username : <span class="font-italic">John</span></h5>
                </div>
                <div class="container">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Age : <span class="lead font-italic profile-info">24</span></li>
                        <li class="list-group-item">Occupation : <span class="lead font-italic profile-info">Teacher</span></li>
                        <li class="list-group-item">Marital status : <span class="lead font-italic profile-info">Single</span></li>
                        <li class="list-group-item">Housing situation : <span class="lead font-italic profile-info">Rent</span></li>
                        <li class="list-group-item">Annual income : <span class="lead font-italic profile-info">$ 5000</span></li>
                        <li class="list-group-item">Goals and expectations from society : <span class="lead font-italic profile-info">Learn and get good teaching resources</span></li>
                        <li class="list-group-item"> The immediate questions that this user will bring to the site : <span class="lead font-italic profile-info">Which is the best resources?</span>
                        </li>
                        <li class="list-group-item"><a href="#" class="btn btn-primary">view full profile</a></li>
                        <div class="row mt-2">
                            <div class="col-md-1 mr-3">
                                <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                            </div>
                            <div class="col-md-1 mr-3">
                                <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
                            </div>
                            <div class="col-md-1 mr-3">
                                <a href="#"><i class="fab fa-dribbble fa-3x"></i></a>
                            </div>
                            <div class="col-md-1 mr-3">
                                <a href="#"><i class="fab fa-linkedin fa-3x"></i></a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="jumbotron jumbotron-fluid user-profile-display">
                <div class="text-center profile-image">
                    <img src="https://placeimg.com/200/200/people" class="rounded-circle profile" alt="...">
                </div>
                <div class="text-center mt-2 mb-2 ml-3 mr-3">
                    <h5 class="alert alert-danger">username : <span class="font-italic">Joe</span></h5>
                </div>
                <div class="container">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Age : 30<span class="lead font-italic profile-info">24</span></li>
                        <li class="list-group-item">Occupation : <span class="lead font-italic profile-info">Professor</span></li>
                        <li class="list-group-item">Marital status : <span class="lead font-italic profile-info">Married</span></li>
                        <li class="list-group-item">Housing situation : <span class="lead font-italic profile-info">Owns House</span></li>
                        <li class="list-group-item">Annual income : <span class="lead font-italic profile-info">$ 50000</span></li>
                        <li class="list-group-item">Goals and expectations from society : <span class="lead font-italic profile-info">Share good teaching resources</span></li>
                        <li class="list-group-item"> The immediate questions that this user will bring to the site : <span class="lead font-italic profile-info">Where to Share resources?</span>
                        </li>
                        <li class="list-group-item"><a href="#" class="btn btn-primary">view full profile</a></li>
                        <div class="row mt-2">
                            <div class="col-md-1 mr-3">
                                <a href="#"><i class="fab fa-facebook fa-3x"></i></a>
                            </div>
                            <div class="col-md-1 mr-3">
                                <a href="#"><i class="fab fa-twitter fa-3x"></i></a>
                            </div>
                            <div class="col-md-1 mr-3">
                                <a href="#"><i class="fab fa-dribbble fa-3x"></i></a>
                            </div>
                            <div class="col-md-1 mr-3">
                                <a href="#"><i class="fab fa-linkedin fa-3x"></i></a>
                            </div>

                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card after-profile">
     <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 6 </span>  <p>For each class of user identified in Exercise 1a, produce a textual or graphical usage scenario for how
                that user will experience your service.</h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
        <%# <img src= "../app/assets/images/usecase.png" alt="usecase"> %>
        <img src= "https://i.ibb.co/Jd6sgDy/usecase.png" alt="usecase">
       
        </div>
    </div>
     <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 7 </span>  <p>
                Evaluate offline alternatives. You ought to have a good reason for building an information system.
                You need a convincing answer for why we need this system rather than a book, a pencil, and paper.
                Explain the available alternatives and explain the best features of these alternatives. Justify why your
                system is necessary.
            </p></h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                Most of the people love learning and share their ideas/resources. Offline alternatives for learning and sharing is limited to certain place i.e only possible when people meet. What about the people who like to share and recieve resources virtually? The system ,we are creating will help to solve this problem. We believe our system will help intended users to have a platform where they can easily share and access teaching resources.
            </p>

        </div>
    </div>

    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 8 </span>  <p>
               Evaluate online alternatives. Find the best existing online communities in your subject area. Note how
                closely they conform to the six elements of sustainability (magnet content, collaboration, searching and
                browsing capabilities, delegated moderation, )means of removing bozos, and means for extending the
                community. Also write down anything strikingly good or bad about the registration process and the
                mechanisms of collaboration, e.g., in discussion forums, comments on articles, and chat rooms. Look
                for voice and mobile interfaces. If present, try them out. Look for evidence of personalization and
                direct controls over preferences.
            </p></h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                While doing research related similar platform of professional Online learning , we https://inskru.com, which is used by people in Thailand. We got more ideas about the related field.
                Basically, our platform is focused for AIT where resources can be shared amoung the related parties.Gradually, we will extend this platform other intented users apart from AIT.People have different taste. We will focus on making this platform more userfriendly taking care of the client user interactions. We will make sure that our site will provide the desired results in efficient way.
            </p>

        </div>
    </div>
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 9 </span>  <p>
              Identify where the magnet content for your system is going to come from.
            </p></h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                for now, the magnet contents of our system will be manually recorded by us. Gradually, we intent to have it from registered users.
            </p>

        </div>
    </div>
     <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 10 </span>  <p>
               Decide on hostname and figure out DNS registration procedures. Be sure to look into the options for
                hosting of your web site. Ideally, you should all have a real hostname for your system, pointing to your
                CSIM server, by the end of the semester. At the end of the semester, you should also be ready to place
                your site at a more permanent home. Please include a plan for how you will do this. Note that AIT,
                CSIM, or AIT SU could probably be pursuaded to host some of your groups’ sites. Others would be
                more appropriately hosted offsite.
            </p></h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                Domain name is the most the basic necessity of building a web presence. We have chosen name "learnNshare.com"<br> After doing research on DNS registration we have found that we need to follow:<br>
                1. The first and the most important thing to check domain availability ,we can do a domain search with a domain registrar. If the domain name is available for registration you can then move forward to claim it.<br>
                2. Then we need to find a registrar. Before making a choice it is always advised to do a quick research on different registrars. <br>
                3. Once a registrar is chosen, all the informations such as domain name, contact information, physical address, billing address and so on has to be provided to the registrar. Do payment if needed.<br>
                4.The registry adds our domain zone files to the master servers. These master servers tell other servers on the Internet where your website is stored.Our domain is considered registered and ready-to-use when all information has been updated.<br>
                For registering for our domian "learnNshare.com", we have decided to go with godaddy.com it provides the registration service with affordable and competitive price with various monthly/yearly plans. The payment method is also pretty easier as it provides online billing system
            </p>
    </div>
     <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 11 </span>  <p>
               Describe the intellectual property rights of yourselves as developers, authors as contributors, and so
                on.
            </p></h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                Intellectual property rights are a business asset, and are often the most valuable business asset
                Being developer and authors of the system, we are entitled to any rights that belong to this system such as Copyright,Design right,Trade marks,Registered designs and so on.
            </p>
        </div>
    </div>
     <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 12 </span>  <p>
              Set up nightly dumps of your database using cron or equivalent.
            </p></h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
            To perform backups at regular intervals we used cron. Logged in as root, we created a file smidata_db_backup in /etc/cron.d.<br>
            # m  h  dom mon dow user     command
  0 22  *   *   *   postgres pg_dump smidata_db > /srv/backups/smidata_db_backup<br>
            This will create a backup at 10:00 pm every day.<br>
            Finally we can create the backup directory and made postgres the owner.
            <br>
            mkdir -p /srv/backups
            chown postgres:postgres /srv/backups
            Restore a database from the dump file

            </p>

        </div>
    </div>
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 13 </span>  <p>
              Set up a continuous integration system for your team’s development work. Jenkins is recommended.
                However, you may use any continuous integration solution you like as long as the essential features are
                implemented. You should have a regression test suite and at least a code coverage metric.
            </p></h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
                We will be using Jenkins for continuous integration that follows the concept that once we commit code, we should build and test immediately in continous manner.
            </p>
        </div>
    </div>
      <div class="card mt-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <h4> <span class="badge badge-primary"> 14 </span>  <p>
              Set up Capistrano or equivalent to enable repeatable, one-command deployment to production.
            </p></h4>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">by Smrity and Panuvit</h6>
            <p class="card-text">
               <a href ="https://cis.ait.ac.th/course_offerings/9/capistrano-companion" > Capistrano Setup </a>
            </p>
        </div>
    </div>
  </div>

  <br/>
  <br/>
  <br/>