<% provide(:title,'Division Exception')%>
<%= render 'layouts/header'%>
<div class="row h-100 align-items-center justify-content-center text-center">
    <form method="post" action="/divisor/evaluate" local=true>
        <label>Number 1 </label>
        <input type="text" name="number_1" value="">
    <br />
    <br />
        <label>Number 2 </label>
        <input type="text" name="number_2" value="">
    <br />
    <br />
        <input type="submit" name="submit"> 
    </form>
</div>