
<form method="post" action="/divisor/evaluate" local=true>
<label>Number 1</label>
<input type="text" name="number_1" value="">


<label>Number 2</label>
<input type="text" name="number_2" value="">
<br />
<input type="submit" name="submit">
</form>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
    }
</style>
</head>

<body>

<div class="footer">
  <a href="https://validator.w3.org/" class="active">XHTML VALIDATION</a>
</div>
</body>