<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<<<<<<< HEAD
<form method="post" action="/divisor/evaluate" local=true>
<label>Number 1</label>
<input type="text" name="number_1" value="">


<label>Number 2</label>
<input type="text" name="number_2" value="">
<br />
<input type="submit" name="submit">
</form>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
    }
</style>
</head>

<body>

<div class="footer">
  <a href="https://validator.w3.org/" class="active">XHTML VALIDATION</a>
</div>
</body>
=======
    <title>Division Exception</title>
  </head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Division Exception</span>
</span>
<a class="nav-link" href="#"><%= link_to "Back", basics_index_path %></a>
</nav>
  <!-- Header -->
  <body>
    <div class='centeredPage'>
        <form method="post" action="/divisor/evaluate" local=true>
            <label>Number 1 </label>
            <input type="text" name="number_1" value="">
            <br />
            <br />
            <label>Number 2 </label>
            <input type="text" name="number_2" value="">
            <br />
            <br />
            <input type="submit" name="submit">
        </form>
    </div>
  </body>
</html>
>>>>>>> f1cc30f80dca25de72d34ea44514726e49e720eb
