
<form method="post" action="/divisor/evaluate" local=true>
<label>Number 1</label>
<input type="text" name="number_1" value="">


<label>Number 2</label>
<input type="text" name="number_2" value="">
<br />
<input type="submit" name="submit">
</form>
