<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Divide by Zero</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Division Exception</span>
</span>
<a class="nav-link" href="#"><%= link_to "Back", basics_index_path %></a>
</nav>
  <body>
    <div class='container-fluid h-100'>
      <div class='centerDiv'>
        <div class="row h-100 align-items-center justify-content-center text-center">
          <div class='col-lg-10 align-self-end'>
          <h5 class='display-5'>Result : <%= @message %></h5>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>