<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Divide by Zero</title>
</head>
<body>
  <p>Result : <%= @message %> </p>
</body>
<%= link_to "Home", home_index_path,:class=>'text-center' %>
</html>





















<footer style="height:auto">
<a href="http://validator.w3.org/check?uri=sitename&charset=%28detect+automatically%29&doctype=Inline&group=0">XHTML Validation</a>
</footer>
