<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Divide by Zero</title>
</head>
<body>
  <p>Result : <%= @message %> </p>
</body>
<%= link_to "Home", home_index_path,:class=>'text-center' %>


<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color: black;
        text-align: center;
    }
</style>
</head>
<body>

<div class="footer">
  <a href="https://validator.w3.org/" class="active">XHTML VALIDATION</a>
</div>



</html>




















<footer style="height:auto">
<a href="http://validator.w3.org/check?uri=sitename&charset=%28detect+automatically%29&doctype=Inline&group=0">XHTML Validation</a>
</footer>
