<footer class='footer'>
      <p>
        <a href="https://validator.w3.org/check?uri=referer">
        <img src="http://www.w3.org/Icons/valid-xhtml11.png" alt="Valid XHTML 1.1!" height="31" width="88" />
        </a>
      </p>
</footer>
