<nav class="navbar">
  <span class="navbar-brand mb-0 h1"><%= yield(:title) %></span>
  <span class="navbar-brand mb-0 h1"><%= link_to "Back", basics_index_path %></span>
</nav>
<h1 class='display-5 text-center'> Here the example of <%= yield(:title) %></h1>
<br/>
<br/>
